@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial; /* removes Tailwind's default colors */
  --font-*: initial; /* removes Tailwind's default fonts */

  /* Custom default font (sans-serif) */
  --font-sans: "Poppins", "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Optional heading and mono fonts */
  --font-heading: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Fira Code", ui-monospace, monospace;

  --color-primary: #10B981;
  --color-primary-hover: #0EA97F;
  --color-secondary: #FBBF24;
  --color-secondary-hover: #F59E0B;

  --color-bg: #F9FAFB;
  --color-bg-muted: #F3F4F6;
  --color-bgFrom: #cadbcf;
  --color-bgTo: #caedd5;

  --color-bg-dark: #0F172A;
  --color-bg-muted-dark: #1E293B;
  --color-bgFrom-dark: #2d5943;
  --color-bgTo-dark: #000a05;

  --color-text: #111827;
  --color-text-muted: #3B3F45;

  --color-text-dark: #F9FAFB;
  --color-text-muted-dark: #C1C9D4;

  --color-border: #E5E7EB;
  --color-border-dark: #334155;

  --color-error: #EF4444;
  --color-warning: #F59E0B;
  --color-success: #22C55E;
}

.dark {
  --color-primary: #22D3EE; /* Optional: cyan for dark mode */
  --color-primary-hover: #06B6D4;

  --color-secondary: #FACC15;
  --color-secondary-hover: #EAB308;

  --color-bg: var(--color-bg-dark);
  --color-bg-muted: var(--color-bg-muted-dark);
  --color-bgFrom: var(--color-bgFrom-dark);
  --color-bgTo: var(--color-bgTo-dark);

  --color-text: var(--color-text-dark);
  --color-text-muted: var(--color-text-muted-dark);

  --color-border: var(--color-border-dark);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}


/* Width of vertical scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #F9FAFB;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #B2B2B2;
  border-radius: 50px;
}

/* Dark mode */
.dark ::-webkit-scrollbar-track {
  background: #0F172A;
}

.dark ::-webkit-scrollbar-thumb {
  background: #494949;
}
